body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 100px;
    background-color: #f4f4f4;
}
.cta-button{
    padding: 10px 20px ;
    background-color: #007Bff;
    color: white;
    border: none;
    cursor: pointer;
}
section{
    margin: 50px;
    text-align: center;
}
.service-card{
    background-color: #e0e0e0;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}