body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 100px;
    background-color: #f4f4f4;
}
.cta-button{
    padding: 10px 20px ;
    background-color: #007Bff;
    color: white;
    border: none;
    cursor: pointer;
}
section{
    margin: 50px;
    text-align: center;
}
.service-card{
    background-color: #e0e0e0;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #007Bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}
button {
    padding: 10px 20px;
    background-color: #007Bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}